.topBar {
    text-align: right;
    margin: 15px 30px 0 0;
    vertical-align: middle;
    font-family: 'Arial';
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
}

.icon {
    marginTop: 20px;
}

a:link {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}

a:visited {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}

a:hover {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}

a:active {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}