.searchBar {
  text-align: center;
  margin: 10px 0 10px 0;
  flex-grow: 1;
}

.inputRounded fieldset {
  border-radius: 45px;
  height: 45px;
}

.inputRounded:hover fieldset {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.20);
}
